 <h1>Your New Word in Pig Latin</h1>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>

   <body>

     <h1 <%= @piglatin %></h1>
       
   </body>

 </html>

